name: firstworkflow

on:
  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: welcome hello message
        run: echo "welcome to first workflow"

      - name: checkout
        uses: actions/checkout@v6.0.2
